.pie-chart {
  margin: 0 auto;
  background: conic-gradient(var(--pie-color) 0.00% var(--pie-value), transparent 0.00%);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 1px solid #a4a4a4;
}
