.city-input-container {
  display: flex;
  align-items: center;

  label {
    width: 8rem;
    line-height: 3rem;
    padding-right: 10px;
    font-weight: 600;
  }
}

.city-item-container {
  padding-left: 8rem;
  width: 33rem;
  > ul {
    max-height: 10rem;
    list-style: none;
    padding: 0px;
    border: 1px solid;
    border-top: 0px;
    border-color: rgb(133, 133, 133);
    overflow-y: scroll;
    margin: 0;

    li {
      padding-left: 10px;
      outline: none;
    }

    li:hover {
      color: black;
      background-color: #d0d0d0;
    }
  }
}
