.daily-summary-container {
  display: flex;
  padding: 40px 20px 0 20px;
}
.daily-container {
  text-align: center;
}
.daily-chart-container {
  display: block;
  width: 15rem;
  min-height: 5rem;
  border-left: 1px solid rgb(113,113,113);
  border-right: 0; 
  padding: 10px; 

  &:last-child {
    border-right: 1px solid rgb(113,113,113);
  }

  > .bar-chart {
    padding: 20px 0 0 0;
  }
}
